In [1]:
import pandas as pd
import numpy as np
import re
import mysql.connector as conn
from sqlalchemy import create_engine
import os #modulo para acceso a los ficheros

In [2]:
def quita_porcentajes(x):
    return x[:-1]

In [3]:
st12_20=pd.read_csv(r'C:\Users\david\OneDrive\Escritorio\Proyectos\Mad Scientist\datos\campeones\League of Legends Champion Stats 12.20.csv', sep=';')

In [4]:
st12_20 = st12_20.rename(columns={'Win %': 'win', 'Role %': 'pick_role', 'Pick %':'pick', 'Ban %':'ban'})

In [5]:
#eliminacion del simbolo % en los datos
st12_20['win']=st12_20.win.apply(quita_porcentajes)
st12_20['pick_role']=st12_20.pick_role.apply(quita_porcentajes)
st12_20['pick']=st12_20.pick.apply(quita_porcentajes)
st12_20['ban']=st12_20.ban.apply(quita_porcentajes)
#trasformacioin del dato a numerico
st12_20['win'] = st12_20['win'].astype(float)
st12_20['pick_role'] = st12_20['pick_role'].astype(float)
st12_20['pick'] = st12_20['pick'].astype(float)
st12_20['ban'] = st12_20['ban'].astype(float)

In [6]:
st12_20

,Name,Class,Role,Tier,Score,Trend,win,pick_role,pick,ban,KDA
0,Aatrox,Fighter,TOP,God,90.44,-0.01,49.20,94.58,12.38,32.81,1.88
1,Ahri,Mage,MID,A,54.22,-1.79,48.53,94.22,5.50,2.35,2.49
2,Akali,Assassin,MID,God,74.61,5.58,48.11,77.18,10.29,16.58,2.39
3,Akali,Assassin,TOP,B,45.02,1.35,47.15,22.19,3.00,16.58,2.00
4,Akshan,Marksman,MID,A,49.57,5.55,51.28,63.42,2.80,4.99,2.24
...,...,...,...,...,...,...,...,...,...,...,...
237,Zilean,Support,SUPPORT,A,50.32,-0.80,51.21,79.40,3.06,2.19,3.10
238,Zilean,Support,MID,A,49.99,3.29,52.12,16.14,0.60,2.19,3.46
239,Zoe,Mage,MID,A,48.64,-3.17,49.58,87.40,3.06,1.65,2.60
240,Zoe,Mage,SUPPORT,D,27.02,-0.45,45.57,10.99,0.35,1.63,2.05
241,Zyra,Mage,SUPPORT,A,48.28,-1.73,51.15,92.64,3.71,2.36,2.22

In [7]:
st12_20["version"] = "12_20"

In [8]:
st12_20

,Name,Class,Role,Tier,Score,Trend,win,pick_role,pick,ban,KDA,version
0,Aatrox,Fighter,TOP,God,90.44,-0.01,49.20,94.58,12.38,32.81,1.88,12_20
1,Ahri,Mage,MID,A,54.22,-1.79,48.53,94.22,5.50,2.35,2.49,12_20
2,Akali,Assassin,MID,God,74.61,5.58,48.11,77.18,10.29,16.58,2.39,12_20
3,Akali,Assassin,TOP,B,45.02,1.35,47.15,22.19,3.00,16.58,2.00,12_20
4,Akshan,Marksman,MID,A,49.57,5.55,51.28,63.42,2.80,4.99,2.24,12_20
...,...,...,...,...,...,...,...,...,...,...,...,...
237,Zilean,Support,SUPPORT,A,50.32,-0.80,51.21,79.40,3.06,2.19,3.10,12_20
238,Zilean,Support,MID,A,49.99,3.29,52.12,16.14,0.60,2.19,3.46,12_20
239,Zoe,Mage,MID,A,48.64,-3.17,49.58,87.40,3.06,1.65,2.60,12_20
240,Zoe,Mage,SUPPORT,D,27.02,-0.45,45.57,10.99,0.35,1.63,2.05,12_20
241,Zyra,Mage,SUPPORT,A,48.28,-1.73,51.15,92.64,3.71,2.36,2.22,12_20

In [9]:
str_conn='mysql+pymysql://root:1234@localhost:3306/mad_scientist'
cursor=create_engine(str_conn)

In [10]:
st12_20.to_sql(name='champions', con=cursor, if_exists='append', index=False)