In [4]:
import pandas as pd
from sqlalchemy import create_engine
import requests as req

In [5]:
URL='http://ddragon.leagueoflegends.com/cdn/12.22.1/data/en_US/champion.json'

In [6]:
campeones=req.get(URL)

In [7]:
aux=campeones.json()

In [18]:
campeon=[]
for x in aux['data'].values():
    listita=[]
    for k,v in x.items():
        if k == 'name':
            listita.append(v)
        elif k == 'key':
            listita.append(v)
        elif k == 'tags':
            for t in v:
                listita.append(t)
    campeon.append(listita)

In [19]:
col=['id', 'name', 'tag1', 'tag2']
listita=[]
for e in campeon:
        listita.append(e)
campeonesdf=pd.DataFrame(campeon, columns=col)

In [20]:
campeonesdf['id'] = campeonesdf['id'].astype(int)

In [23]:
campeonesdf.sort_values(by='id', inplace=True)

In [24]:
campeonesdf

      id          name     tag1      tag2
7      1         Annie     Mage      None
89     2          Olaf  Fighter      Tank
33     3         Galio     Tank      Mage
133    4  Twisted Fate     Mage      None
150    5      Xin Zhao  Fighter  Assassin
..   ...           ...      ...       ...
68   876        Lillia  Fighter      Mage
39   887          Gwen  Fighter  Assassin
101  888  Renata Glasc  Support      Mage
86   895         Nilah  Fighter  Assassin
64   897       K'Sante     Tank   Fighter

[162 rows x 4 columns]

In [15]:
str_conn='mysql+pymysql://root:1234@localhost:3306/mad_scientist' #Conexión a BBDD
cursor_db=create_engine(str_conn) #Cursor que apunta a BBDD mad_scientist

In [17]:
campeonesdf.to_sql(name='champions', con=cursor_db, if_exists='replace', index=False)