In [1]:
import requests as req
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime
from time import strftime
from time import gmtime

In [2]:
def stamptofecha (stamp):
    date =str(stamp)
    date = int(date[:-3:])
    return datetime.fromtimestamp(date)

In [3]:
f = open("../token-riot.txt")
token=(f.read())

###entrada manual de jugador (¿¿¿implementación de llamada api o scrap para los 100 mejores???)

In [29]:
entrada=input()
nombre=entrada.replace(' ','%20')
#PwVx Hc9999na
#Wakanda f0rever
#c2 meteos

c2 meteos

Acceso a la API para obtener el PUUID del jugador

In [30]:
URL_jugador=f'https://na1.api.riotgames.com/lol/summoner/v4/summoners/by-name/{nombre}?api_key={token}'

In [31]:
jugador=req.get(URL_jugador)

In [32]:
jugador=jugador.json()

In [33]:
puuid=jugador['puuid']

Acceso a la API mediante el PUUID para obtener un listado de las 100 ultimas partidas de ranked

In [34]:
URL_partidas=f'https://americas.api.riotgames.com/lol/match/v5/matches/by-puuid/{puuid}/ids?type=ranked&start=0&count=100&api_key={token}'

In [35]:
partidas=req.get(URL_partidas)

In [36]:
link_partidas=partidas.json()

In [37]:
link_partidas[0]

'NA1_4492804854'

Recorremos la lista, haciendo una llamada por cada partida, para recolectar los datos necesarios y pasarlos a un dataframe.

In [13]:
primero=True

In [38]:
for e in link_partidas:
    URL_match=f'https://americas.api.riotgames.com/lol/match/v5/matches/{e}?api_key={token}'
    match=req.get(URL_match)
    match=match.json()
    
    match_dict={}

    matchId=(match['metadata']['matchId'])
    match_dict['matchId']=matchId
    
    #Transformacion del timestamp para obtener fecha y hora de la partida. Las ultimas 3 posiciones son milisegundos, se quitan
    start=stamptofecha(match['info']['gameStartTimestamp'])  
    match_dict['gamestart']=start
   
    duration=strftime("%H:%M:%S", gmtime(match['info']['gameDuration']))     
    match_dict['duration']=duration
    
    if primero==True:
        dffinal=pd.DataFrame()
        dfmatch=pd.DataFrame()
        primero=False
    else:
        pass
    dfmatch=dfmatch.append(match_dict, ignore_index=True)

    for e in match['info']['participants']:

        if e['puuid'] == puuid:

            jugador_dict={}
            jugador_dict['matchId']=matchId
            
            dict_jugador = e

            del dict_jugador['challenges']['abilityUses']
            del dict_jugador['challenges']['poroExplosions']
            del dict_jugador['perks']
            del dict_jugador['timePlayed']

            for k,v in dict_jugador['challenges'].items():
                jugador_dict[k]=v

            del dict_jugador['challenges']

            for k,v in dict_jugador.items():
                jugador_dict[k]=v     

            if primero == False:
                for e in list(dffinal):
                    if e not in jugador_dict.keys():
                        jugador_dict[e]=0      

            dffinal=dffinal.append(jugador_dict, ignore_index=True)

In [39]:
dffinal

,matchId,12AssistStreakCount,acesBefore15Minutes,alliedJungleMonsterKills,baronTakedowns,blastConeOppositeOpponentCount,bountyGold,buffsStolen,completeSupportQuestInTime,controlWardsPlaced,...,getTakedownsInAllLanesEarlyJungleAsLaner,killsOnOtherLanesEarlyJungleAsLaner,highestWardKills,baronBuffGoldAdvantageOverThreshold,soloTurretsLategame,mejaisFullStackInTime,thirdInhibitorDestroyedTime,teleportTakedowns,earliestElderDragon,hadAfkTeammate
0,NA1_4494512438,0.0,0.0,93.4,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NA1_4491761900,0.0,0.0,87.0,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NA1_4491258949,0.0,0.0,61.4,0.0,0.0,0.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NA1_4489662165,0.0,0.0,71.0,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NA1_4487405376,0.0,0.0,24.0,1.0,0.0,600.0,0.0,0.0,2.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NA1_4443456266,0.0,0.0,93.5,1.0,0.0,525.0,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
296,NA1_4443379020,0.0,0.0,92.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297,NA1_4443372734,0.0,0.0,78.6,1.0,0.0,0.0,1.0,0.0,6.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
298,NA1_4443335594,0.0,0.0,108.5,2.0,0.0,150.0,2.0,0.0,5.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
299,NA1_4443264102,0.0,0.0,65.0,0.0,0.0,1575.0,2.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
dfmatch

            matchId           gamestart  duration
0    NA1_4494512438 2022-11-17 02:55:47  00:24:40
1    NA1_4491761900 2022-11-14 00:55:55  00:22:42
2    NA1_4491258949 2022-11-13 08:43:44  00:18:23
3    NA1_4489662165 2022-11-11 21:15:17  00:18:18
4    NA1_4487405376 2022-11-09 04:27:55  00:29:56
..              ...                 ...       ...
295  NA1_4443456266 2022-09-22 08:26:34  00:22:52
296  NA1_4443379020 2022-09-22 07:21:49  00:25:32
297  NA1_4443372734 2022-09-22 06:37:05  00:23:24
298  NA1_4443335594 2022-09-22 05:50:40  00:32:10
299  NA1_4443264102 2022-09-22 04:42:49  00:26:07

[298 rows x 3 columns]

In [41]:
dffinal.fillna(0, inplace=True)

In [42]:
dffinal=dffinal.round(3)

In [45]:
dfmatch.drop_duplicates(inplace=True)

In [48]:
str_conn='mysql+pymysql://root:1234@localhost:3306/mad_scientist' #Conexión a BBDD
cursor_db=create_engine(str_conn) #Cursor que apunta a BBDD mad_scientist

In [50]:
dffinal.to_sql(name='summoners', con=cursor_db, if_exists='replace', index=False)

In [51]:
dfmatch.to_sql(name='matches', con=cursor_db, if_exists='replace', index=False)