In [1]:
import pandas as pd
import numpy as np
import re
import mysql.connector as conn
from sqlalchemy import create_engine

In [2]:
st12_20=pd.read_csv(r'C:\Users\david\OneDrive\Escritorio\Proyectos\Mad Scientist\datos\campeones\League of Legends Champion Stats 12.1.csv', sep=';')

In [3]:
st12_20

,Name,Class,Role,Tier,Score,Trend,Win %,Role %,Pick %,Ban %,KDA
0,Aatrox,Fighter,TOP,A,58.25,6.52,49.97%,94.62%,4.43%,2.03%,1.97
1,Ahri,Mage,MID,A,53.21,-0.24,49.93%,93.47%,4.62%,1.04%,2.56
2,Akali,Assassin,MID,S,65.30,6.51,48.59%,65.65%,8.16%,12.88%,2.34
3,Akali,Assassin,TOP,A,57.87,3.34,48.57%,34.06%,4.24%,12.88%,2.04
4,Akshan,Marksman,MID,S,59.85,0.65,51.46%,58.01%,4.83%,21.91%,2.23
...,...,...,...,...,...,...,...,...,...,...,...
227,Ziggs,Mage,MID,C,36.44,-0.60,48.37%,24.85%,0.86%,0.60%,2.36
228,Zilean,Support,MID,A,52.20,1.35,54.19%,14.12%,0.56%,1.40%,3.46
229,Zilean,Support,SUPPORT,A,49.44,1.68,50.83%,81.95%,3.38%,1.40%,3.03
230,Zoe,Mage,MID,A,49.77,4.62,49.84%,94.18%,3.62%,1.41%,2.58
231,Zyra,Mage,SUPPORT,A,49.55,1.74,52.18%,92.46%,3.85%,1.96%,2.13

In [4]:
st12_20 = st12_20.rename(columns={'Win %': 'win', 'Role %': 'pick_role', 'Pick %':'pick', 'Ban %':'ban'})

In [5]:
st12_20

,Name,Class,Role,Tier,Score,Trend,win,pick_role,pick,ban,KDA
0,Aatrox,Fighter,TOP,A,58.25,6.52,49.97%,94.62%,4.43%,2.03%,1.97
1,Ahri,Mage,MID,A,53.21,-0.24,49.93%,93.47%,4.62%,1.04%,2.56
2,Akali,Assassin,MID,S,65.30,6.51,48.59%,65.65%,8.16%,12.88%,2.34
3,Akali,Assassin,TOP,A,57.87,3.34,48.57%,34.06%,4.24%,12.88%,2.04
4,Akshan,Marksman,MID,S,59.85,0.65,51.46%,58.01%,4.83%,21.91%,2.23
...,...,...,...,...,...,...,...,...,...,...,...
227,Ziggs,Mage,MID,C,36.44,-0.60,48.37%,24.85%,0.86%,0.60%,2.36
228,Zilean,Support,MID,A,52.20,1.35,54.19%,14.12%,0.56%,1.40%,3.46
229,Zilean,Support,SUPPORT,A,49.44,1.68,50.83%,81.95%,3.38%,1.40%,3.03
230,Zoe,Mage,MID,A,49.77,4.62,49.84%,94.18%,3.62%,1.41%,2.58
231,Zyra,Mage,SUPPORT,A,49.55,1.74,52.18%,92.46%,3.85%,1.96%,2.13

In [7]:
def quita_porcentajes(x):
    return x[:-1]
#eliminacion del simbolo % en los datos
st12_20['win']=st12_20.win.apply(quita_porcentajes)
st12_20['pick_role']=st12_20.pick_role.apply(quita_porcentajes)
st12_20['pick']=st12_20.pick.apply(quita_porcentajes)
st12_20['ban']=st12_20.ban.apply(quita_porcentajes)
#trasformacioin del dato a numerico
st12_20['win'] = st12_20['win'].astype(float)
st12_20['pick_role'] = st12_20['pick_role'].astype(float)
st12_20['pick'] = st12_20['pick'].astype(float)
st12_20['ban'] = st12_20['ban'].astype(float)

In [8]:
st12_20

,Name,Class,Role,Tier,Score,Trend,win,pick_role,pick,ban,KDA
0,Aatrox,Fighter,TOP,A,58.25,6.52,49.9,94.62,4.43,2.03,1.97
1,Ahri,Mage,MID,A,53.21,-0.24,49.9,93.47,4.62,1.04,2.56
2,Akali,Assassin,MID,S,65.30,6.51,48.5,65.65,8.16,12.88,2.34
3,Akali,Assassin,TOP,A,57.87,3.34,48.5,34.06,4.24,12.88,2.04
4,Akshan,Marksman,MID,S,59.85,0.65,51.4,58.01,4.83,21.91,2.23
...,...,...,...,...,...,...,...,...,...,...,...
227,Ziggs,Mage,MID,C,36.44,-0.60,48.3,24.85,0.86,0.60,2.36
228,Zilean,Support,MID,A,52.20,1.35,54.1,14.12,0.56,1.40,3.46
229,Zilean,Support,SUPPORT,A,49.44,1.68,50.8,81.95,3.38,1.40,3.03
230,Zoe,Mage,MID,A,49.77,4.62,49.8,94.18,3.62,1.41,2.58
231,Zyra,Mage,SUPPORT,A,49.55,1.74,52.1,92.46,3.85,1.96,2.13

In [9]:
st12_20["version"] = "12_20"

In [10]:
st12_20

,Name,Class,Role,Tier,Score,Trend,win,pick_role,pick,ban,KDA,version
0,Aatrox,Fighter,TOP,A,58.25,6.52,49.9,94.62,4.43,2.03,1.97,12_20
1,Ahri,Mage,MID,A,53.21,-0.24,49.9,93.47,4.62,1.04,2.56,12_20
2,Akali,Assassin,MID,S,65.30,6.51,48.5,65.65,8.16,12.88,2.34,12_20
3,Akali,Assassin,TOP,A,57.87,3.34,48.5,34.06,4.24,12.88,2.04,12_20
4,Akshan,Marksman,MID,S,59.85,0.65,51.4,58.01,4.83,21.91,2.23,12_20
...,...,...,...,...,...,...,...,...,...,...,...,...
227,Ziggs,Mage,MID,C,36.44,-0.60,48.3,24.85,0.86,0.60,2.36,12_20
228,Zilean,Support,MID,A,52.20,1.35,54.1,14.12,0.56,1.40,3.46,12_20
229,Zilean,Support,SUPPORT,A,49.44,1.68,50.8,81.95,3.38,1.40,3.03,12_20
230,Zoe,Mage,MID,A,49.77,4.62,49.8,94.18,3.62,1.41,2.58,12_20
231,Zyra,Mage,SUPPORT,A,49.55,1.74,52.1,92.46,3.85,1.96,2.13,12_20

In [11]:
str_conn='mysql+pymysql://root:1234@localhost:3306/mad_scientist'

cursor=create_engine(str_conn)

In [12]:
st12_20.to_sql(name='champions', con=cursor, index=False)