In [1]:
import pandas as pd
from sqlalchemy import create_engine
import requests as req

In [2]:
URL='http://ddragon.leagueoflegends.com/cdn/12.22.1/data/en_US/item.json'

In [3]:
items=req.get(URL)

In [4]:
aux=items.json()

In [5]:
llave=[]
for k,v in aux['data'].items():
    llave.append(k)

In [6]:
objetos=[]
for x in aux['data'].values():
    listita=[]
    for k,v in x.items():
        if k == 'name':
            listita.append(v)
        elif k == 'gold':
            listita.append(x['gold']['base'])
    objetos.append(listita)

In [7]:
indice=0
for e in objetos:
    e.append(llave[indice])
    indice +=1

In [8]:
col=['name', 'gold', 'id']

objetosdf=pd.DataFrame(objetos, columns=col)

In [9]:
objetosdf = objetosdf[['id','name', 'gold']]

In [10]:
objetosdf['id'] = objetosdf['id'].astype(int)

In [11]:
objetosdf.sort_values(by='id', inplace=True)

In [12]:
cont=0
for e in objetosdf.name:
    if len(e) > 50:
        objetosdf.drop(axis=1, index=cont, inplace=True)
    cont +=1

In [13]:
import numpy as np
measurer = np.vectorize(len)
res2 = measurer(objetosdf.select_dtypes(include=[object]).values.astype(str)).max(axis=0)
res2

array([33])

In [14]:
objetosdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263 entries, 0 to 265
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      263 non-null    int32
 1   name    263 non-null    object
 2   gold    263 non-null    int64
dtypes: int32(1), int64(1), object(1)
memory usage: 7.2+ KB

In [15]:
str_conn='mysql+pymysql://root:1234@localhost:3306/mad_scientist' #Conexi√≥n a BBDD
cursor_db=create_engine(str_conn) #Cursor que apunta a BBDD mad_scientist

In [16]:
cursor_db.execute("""CREATE TABLE `items` (
  `id` int UNIQUE,
  `name` VARCHAR(40),
  `gold` int,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;""")

In [17]:
objetosdf.to_sql(name='items', con=cursor_db, if_exists='append', index=False)

In [ ]:
cursor_db.execute("""INSERT INTO items (id, name, gold) VALUES (0, 'no item', '0');""")