In [1]:
import pandas as pd
from sqlalchemy import create_engine
import requests as req

In [2]:
URL='http://ddragon.leagueoflegends.com/cdn/12.22.1/data/en_US/item.json'

In [3]:
items=req.get(URL)

In [4]:
aux=items.json()

In [5]:
llave=[]
for k,v in aux['data'].items():
    llave.append(k)

In [6]:
objetos=[]
for x in aux['data'].values():
    listita=[]
    for k,v in x.items():
        if k == 'name':
            listita.append(v)
        elif k == 'gold':
            listita.append(x['gold']['base'])
    objetos.append(listita)

In [7]:
indice=0
for e in objetos:
    e.append(llave[indice])
    indice +=1

In [8]:
col=['name', 'gold', 'id']

objetosdf=pd.DataFrame(objetos, columns=col)

In [9]:
objetosdf = objetosdf[['id','name', 'gold']]

In [12]:
objetosdf['id'] = objetosdf['id'].astype(int)

In [14]:
objetosdf.sort_values(by='id', inplace=True)

In [15]:
objetosdf

       id                   name  gold
0    1001                  Boots   300
1    1004           Faerie Charm   250
2    1006      Rejuvenation Bead   300
3    1011           Giant's Belt   500
4    1018       Cloak of Agility   600
..    ...                    ...   ...
261  7027        Primordial Dawn     0
262  7028   Infinite Convergence     0
263  7050  Gangplank Placeholder     0
264  8001      Anathema's Chains   800
265  8020           Abyssal Mask   650

[266 rows x 3 columns]

In [16]:
str_conn='mysql+pymysql://root:1234@localhost:3306/mad_scientist' #Conexión a BBDD
cursor_db=create_engine(str_conn) #Cursor que apunta a BBDD mad_scientist

In [17]:
objetosdf.to_sql(name='items', con=cursor_db, if_exists='replace', index=False)