In [1]:
import requests as req
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime
from time import strftime
from time import gmtime

In [3]:
def stamptofecha (stamp):
    date =str(stamp)
    date = int(date[:-3:])
    return datetime.fromtimestamp(date)

In [4]:
f = open("../token-riot.txt")
token=(f.read())

###entrada manual de jugador (¿¿¿implementación de llamada api o scrap para los 100 mejores???)

In [5]:

#PwVx Hc9999na
#Wakanda f0rever
#c2 meteos

In [28]:
entrada=input()
nombre=entrada.replace(' ','%20')

c2 meteos

Acceso a la API para obtener el PUUID del jugador

In [29]:
URL_jugador=f'https://na1.api.riotgames.com/lol/summoner/v4/summoners/by-name/{nombre}?api_key={token}'
jugador=req.get(URL_jugador)
jugador=jugador.json()

In [8]:
primero=True
if primero==True:
    dffinal=pd.DataFrame()
    dfmatch=pd.DataFrame()
    dfsummoner=pd.DataFrame()
    primero=False
else:
    pass

In [30]:
jugador

{'id': 'pzY1x6jTDHOM5n77KPVb27pNgAYAZBtInewX5EZbLldIKbc',
 'accountId': 'Z3tzHb_FTe_cUos8v_cyV6wLBYSLS2sfC-BuYfPcoJeZ2aA',
 'puuid': 'xOQEivnAtF_um9vZjP1CD3MqyaioYL5bUruEWWC0k5NNCzDd6oKNsl89ny4C3QEW7M3YicbDCFWvyA',
 'name': 'c2 meteos',
 'profileIconId': 4379,
 'revisionDate': 1670481329651,
 'summonerLevel': 641}

In [31]:
for j in jugador:
        summoner_dict={}
        puuid=jugador['puuid']
        summoner_dict['puuid']=puuid  
        nombre=jugador['name']
        summoner_dict['name']=jugador['name']
        summoner_dict['id']=jugador['id']
        summoner_dict['accountId']=jugador['accountId']
        

dfsummoner=dfsummoner.append(summoner_dict, ignore_index=True)

In [32]:
dfsummoner

,puuid,name,id,accountId
0,dPlcdqvewZsZk3kWq07wL5TUwMOtdEsJ4PdEyhbp4zzL-r...,PwVx Hc9999na,OperkhVIrvBl9YJDHLBE_Es9PcYri_GPhETxoNAkRyTTfd...,ymYT_70Q1OBQ5eXjj-0Q6dsS89HVSvD76f1JWAHmHJ8jhF...
1,Aqf7GjlRa06Fujvm2ez6gOpIeGH8P0atlkrrRyX2NWrxsd...,Wakanda f0rever,WFqDTqJRWTBkl96JhBIMgTnJKkqPDBUcAAbrxrhauTSgoZ...,FY92FRhb8N5lJ_0PBu4HbTuSgQsJgz-c_TwFX2HU2UbvQC...
2,xOQEivnAtF_um9vZjP1CD3MqyaioYL5bUruEWWC0k5NNCz...,c2 meteos,pzY1x6jTDHOM5n77KPVb27pNgAYAZBtInewX5EZbLldIKbc,Z3tzHb_FTe_cUos8v_cyV6wLBYSLS2sfC-BuYfPcoJeZ2aA

Acceso a la API mediante el PUUID para obtener un listado de las 100 ultimas partidas de ranked

In [33]:
URL_partidas=f'https://americas.api.riotgames.com/lol/match/v5/matches/by-puuid/{puuid}/ids?type=ranked&start=0&count=100&api_key={token}'
partidas=req.get(URL_partidas)
link_partidas=partidas.json()

Recorremos la lista, haciendo una llamada por cada partida, para recolectar los datos necesarios y pasarlos a un dataframe.

In [34]:
for e in link_partidas:
    URL_match=f'https://americas.api.riotgames.com/lol/match/v5/matches/{e}?api_key={token}'
    match=req.get(URL_match)
    match=match.json()
    
    match_dict={}

    matchId=(match['metadata']['matchId'])
    match_dict['matchId']=matchId
    
    #Transformacion del timestamp para obtener fecha y hora de la partida. Las ultimas 3 posiciones son milisegundos, se quitan
    start=stamptofecha(match['info']['gameStartTimestamp'])  
    match_dict['gamestart']=start
   
    duration=strftime("%H:%M:%S", gmtime(match['info']['gameDuration']))     
    match_dict['duration']=duration
    
    
    
    if primero==True:
        dffinal=pd.DataFrame()
        dfmatch=pd.DataFrame()
        primero=False
    else:
        pass
    
    dfmatch=dfmatch.append(match_dict, ignore_index=True)

    for e in match['info']['participants']:

        if e['puuid'] == puuid:
            
            jugador_dict={}
            jugador_dict['matchId']=matchId
            
            dict_jugador = e

            del dict_jugador['challenges']['abilityUses']
            del dict_jugador['challenges']['poroExplosions']
            del dict_jugador['perks']
            del dict_jugador['timePlayed']
            del dict_jugador['riotIdName']
            del dict_jugador['riotIdTagline']
            del dict_jugador['role']
            del dict_jugador['lane']    
            del dict_jugador['profileIcon']
            del dict_jugador['summonerLevel']
            del dict_jugador['summonerName']

            for k,v in dict_jugador['challenges'].items():
                jugador_dict[k]=v

            del dict_jugador['challenges']

            for k,v in dict_jugador.items():
                jugador_dict[k]=v     

            if primero == False:
                for e in list(dffinal):
                    if e not in jugador_dict.keys():
                        jugador_dict[e]=0      

            dffinal=dffinal.append(jugador_dict, ignore_index=True)

In [35]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [36]:
dffinal.fillna(0, inplace=True)

In [37]:
dffinal=dffinal.round(3)

In [38]:
dfmatch.drop_duplicates(inplace=True)
dffinal.drop_duplicates(inplace=True)

In [39]:
dffinal['mejaisFullStackInTime']=[strftime("%H:%M:%S", gmtime(x)) for x in dffinal['mejaisFullStackInTime']]
dffinal['fastestLegendary']=[strftime("%H:%M:%S", gmtime(x)) for x in dffinal['fastestLegendary']]
dffinal['earliestElderDragon']=[strftime("%H:%M:%S", gmtime(x)) for x in dffinal['earliestElderDragon']]
dffinal['shortestTimeToAceFromFirstTakedown']=[strftime("%H:%M:%S", gmtime(x)) for x in dffinal['shortestTimeToAceFromFirstTakedown']]
dffinal['totalTimeSpentDead']=[strftime("%H:%M:%S", gmtime(x)) for x in dffinal['totalTimeSpentDead']]
dffinal['totalTimeCCDealt']=[strftime("%H:%M:%S", gmtime(x)) for x in dffinal['totalTimeCCDealt']]
dffinal['longestTimeSpentLiving']=[strftime("%H:%M:%S", gmtime(x)) for x in dffinal['longestTimeSpentLiving']]
dffinal['gameLength']=[strftime("%H:%M:%S", gmtime(x)) for x in dffinal['gameLength']]
dffinal['firstTurretKilledTime']=[strftime("%H:%M:%S", gmtime(x)) for x in dffinal['firstTurretKilledTime']]
dffinal['earliestDragonTakedown']=[strftime("%H:%M:%S", gmtime(x)) for x in dffinal['earliestDragonTakedown']]
dffinal['earliestBaron']=[strftime("%H:%M:%S", gmtime(x)) for x in dffinal['earliestBaron']]
dffinal['controlWardTimeCoverageInRiverOrEnemyHalf']=[strftime("%H:%M:%S", gmtime(x)) for x in dffinal['controlWardTimeCoverageInRiverOrEnemyHalf']]
dffinal['completeSupportQuestInTime']=[strftime("%H:%M:%S", gmtime(x)) for x in dffinal['completeSupportQuestInTime']]
dffinal['thirdInhibitorDestroyedTime']=[strftime("%H:%M:%S", gmtime(x)) for x in dffinal['thirdInhibitorDestroyedTime']]

In [40]:
columns_names = dffinal.columns.values
for e in columns_names:
    if 'Percen' in e:
        dffinal[e]=dffinal[e]*100

In [41]:
bandera = False
for c in columns_names:
    for x in dffinal[c]:
        if type(x) != str:
            if x % 1 != 0:
                bandera = True
            else:
                continue
        else:
            continue
    if type(x) != str:
        if bandera == False:
            dffinal[c] = dffinal[c].astype(int)
    bandera=False

In [46]:
dffinal.drop('summonerId', axis=1, inplace=True)
dffinal.drop('summoner2Id', axis=1, inplace=True)

In [53]:
dfmatch

            matchId           gamestart  duration
0    NA1_4494512438 2022-11-17 02:55:47  00:24:40
1    NA1_4491761900 2022-11-14 00:55:55  00:22:42
2    NA1_4491258949 2022-11-13 08:43:44  00:18:23
3    NA1_4489662165 2022-11-11 21:15:17  00:18:18
4    NA1_4487405376 2022-11-09 04:27:55  00:29:56
5    NA1_4487250241 2022-11-09 02:09:27  00:22:06
6    NA1_4486991333 2022-11-08 20:09:18  00:22:04
7    NA1_4486364674 2022-11-08 02:23:03  00:20:25
8    NA1_4485127438 2022-11-06 22:29:13  00:24:38
9    NA1_4477336695 2022-10-29 03:59:48  00:15:22
31   NA1_4474024770 2022-10-25 05:56:47  00:30:23
32   NA1_4473963883 2022-10-25 04:52:22  00:25:03
33   NA1_4473886820 2022-10-25 04:09:58  00:29:46
34   NA1_4473726446 2022-10-25 00:43:53  00:33:42
35   NA1_4473690091 2022-10-24 23:39:08  00:15:13
36   NA1_4473655329 2022-10-24 22:52:15  00:21:29
37   NA1_4473599045 2022-10-24 21:40:46  00:27:23
38   NA1_4473594224 2022-10-24 20:40:39  00:24:46
39   NA1_4473557486 2022-10-24 19:20:16  00:22:35
40   NA1_4473109177 2022-10-24 04:17:19  00:29:25
41   NA1_4473069867 2022-10-24 02:06:35  00:34:24
42   NA1_4473011990 2022-10-24 01:05:19  00:24:59
43   NA1_4472941554 2022-10-23 23:30:03  00:30:56
44   NA1_4472874143 2022-10-23 22:24:56  00:15:12
45   NA1_4472478957 2022-10-23 07:38:33  00:26:50
46   NA1_4471922498 2022-10-23 02:17:13  00:15:14
47   NA1_4471854506 2022-10-23 01:17:23  00:31:57
48   NA1_4471769061 2022-10-22 22:56:19  00:27:42
49   NA1_4471677574 2022-10-22 21:01:33  00:27:52
50   NA1_4471671512 2022-10-22 19:57:28  00:27:57
51   NA1_4471624503 2022-10-22 18:38:32  00:23:32
52   NA1_4470880666 2022-10-21 20:34:07  00:20:21
53   NA1_4470173302 2022-10-20 22:41:44  00:36:18
54   NA1_4470144637 2022-10-20 21:03:12  00:23:28
55   NA1_4469263233 2022-10-19 18:02:59  00:18:59
56   NA1_4468315690 2022-10-18 20:25:20  00:21:30
57   NA1_4468272527 2022-10-18 19:30:26  00:20:17
58   NA1_4468259899 2022-10-18 18:46:59  00:23:32
59   NA1_4466895042 2022-10-17 02:06:36  00:15:38
60   NA1_4466872433 2022-10-17 00:39:57  00:20:57
61   NA1_4466772297 2022-10-16 23:12:26  00:27:56
62   NA1_4466757081 2022-10-16 22:33:28  00:26:27
63   NA1_4464991564 2022-10-15 04:54:38  00:21:35
64   NA1_4464763066 2022-10-15 00:11:07  00:21:05
65   NA1_4464209585 2022-10-14 05:47:12  00:22:34
66   NA1_4461834294 2022-10-11 19:49:48  00:35:27
67   NA1_4461830050 2022-10-11 18:50:56  00:22:57
68   NA1_4460039419 2022-10-09 20:15:42  00:23:46
69   NA1_4458032855 2022-10-08 01:16:38  00:21:29
70   NA1_4455263125 2022-10-05 02:01:42  00:21:48
71   NA1_4455195251 2022-10-05 00:51:55  00:21:55
72   NA1_4453973619 2022-10-03 20:49:26  00:21:41
73   NA1_4448455423 2022-09-28 02:29:45  00:19:28
74   NA1_4448293416 2022-09-27 21:40:12  00:15:29
75   NA1_4448309744 2022-09-27 20:56:38  00:28:46
76   NA1_4447555373 2022-09-27 00:19:30  00:15:27
77   NA1_4445860012 2022-09-25 01:39:13  00:15:45
78   NA1_4444486166 2022-09-23 19:31:44  00:19:56
79   NA1_4441790994 2022-09-20 22:14:39  00:27:20
80   NA1_4441752168 2022-09-20 21:04:43  00:15:49
81   NA1_4440822941 2022-09-19 19:46:56  00:15:21
82   NA1_4435418291 2022-09-14 17:41:48  00:22:08
83   NA1_4433839584 2022-09-12 22:47:39  00:23:11
84   NA1_4433786473 2022-09-12 20:28:26  00:29:58
85   NA1_4432872693 2022-09-11 20:35:38  00:19:17
86   NA1_4431736200 2022-09-10 23:10:31  00:24:40
87   NA1_4430604593 2022-09-09 19:55:46  00:28:26
88   NA1_4429844669 2022-09-08 22:52:14  00:20:58
89   NA1_4429707893 2022-09-08 19:36:45  00:37:30
90   NA1_4428649115 2022-09-07 18:44:39  00:27:59
91   NA1_4427972868 2022-09-06 19:17:34  00:21:18
92   NA1_4426996637 2022-09-06 00:31:14  00:24:39
93   NA1_4426909282 2022-09-05 22:29:47  00:21:47
94   NA1_4425122591 2022-09-03 22:51:15  00:31:12
95   NA1_4424423766 2022-09-03 07:56:24  00:23:25
96   NA1_4424232126 2022-09-03 03:46:12  00:23:37
97   NA1_4423059932 2022-09-01 18:56:37  00:35:30
98   NA1_4422996116 2022-09-01 18:04:03  00:25:48
99   NA1_4419360952 2022-08-29 01:16:33  00:15:29
100  NA1_4419198290 2022-08-28 22:25:34  00:15:44
101  NA1_4419110768 2022-08-28 18:23:45  00:34:00
102  NA1_4418357581 2022-08-28 00:45:54  00:16:09
103  NA1_4418284758 2022-08-27 22:57:31  00:22:05
104  NA1_4418223069 2022-08-27 21:17:44  00:25:24
105  NA1_4418126082 2022-08-27 18:39:52  00:15:17
106  NA1_4417479838 2022-08-27 00:25:45  00:31:48
107  NA1_4417187824 2022-08-26 22:30:59  00:26:07
108  NA1_4417005014 2022-08-26 20:21:51  00:28:48
109  NA1_4417002325 2022-08-26 19:51:41  00:18:34
110  NA1_4416951987 2022-08-26 17:46:55  00:35:09
111  NA1_4416245796 2022-08-25 22:41:36  00:22:11
112  NA1_4416159500 2022-08-25 21:27:19  00:35:46
113  NA1_4416174369 2022-08-25 20:32:39  00:23:11
114  NA1_4416098616 2022-08-25 19:14:22  00:27:57
115  NA1_4416103717 2022-08-25 18:09:25  00:28:39
116  NA1_4415492486 2022-08-25 00:33:46  00:20:20
117  NA1_4415454742 2022-08-24 23:25:54  00:26:07
118  NA1_4414283880 2022-08-24 03:38:29  00:15:25
119  NA1_4414239997 2022-08-24 02:10:13  00:29:07
120  NA1_4414190338 2022-08-24 01:02:54  00:26:25
121  NA1_4483693977 2022-11-05 09:52:51  00:24:57
122  NA1_4482718702 2022-11-04 11:45:47  00:30:00
123  NA1_4482706578 2022-11-04 11:00:35  00:24:33
124  NA1_4482696478 2022-11-04 10:26:41  00:23:46
125  NA1_4482675143 2022-11-04 09:17:16  00:28:44
126  NA1_4482648496 2022-11-04 08:29:14  00:29:41
127  NA1_4482625501 2022-11-04 07:55:17  00:22:28
128  NA1_4482607959 2022-11-04 07:22:22  00:24:36
129  NA1_4482563492 2022-11-04 06:32:26  00:30:45
130  NA1_4482532675 2022-11-04 05:57:27  00:22:49
131  NA1_4481764920 2022-11-03 09:45:50  00:36:45
132  NA1_4481750315 2022-11-03 09:08:59  00:22:00
133  NA1_4481732340 2022-11-03 08:26:30  00:19:36
134  NA1_4481711459 2022-11-03 07:46:20  00:23:18
135  NA1_4481686154 2022-11-03 07:04:32  00:32:03
136  NA1_4481641525 2022-11-03 06:09:09  00:34:38
137  NA1_4481165854 2022-11-02 20:39:39  00:32:38
138  NA1_4480961631 2022-11-02 09:30:30  00:26:50
139  NA1_4480888569 2022-11-02 08:24:43  00:22:35
140  NA1_4480875052 2022-11-02 07:40:54  00:19:13
141  NA1_4480871497 2022-11-02 07:04:46  00:18:09
142  NA1_4480814480 2022-11-02 06:03:14  00:27:32
143  NA1_4480777706 2022-11-02 05:18:14  00:25:30
144  NA1_4480783832 2022-11-02 04:53:48  00:16:09
145  NA1_4480683917 2022-11-02 03:40:58  00:26:46
146  NA1_4480636154 2022-11-02 03:01:34  00:25:12
147  NA1_4480241809 2022-11-01 11:00:15  00:30:30
148  NA1_4480167932 2022-11-01 09:21:25  00:42:59
149  NA1_4480165334 2022-11-01 08:38:04  00:22:53
150  NA1_4480152439 2022-11-01 07:55:45  00:28:04
151  NA1_4480127455 2022-11-01 07:05:36  00:15:19
152  NA1_4478685095 2022-10-30 09:23:10  00:32:33
153  NA1_4478619631 2022-10-30 08:11:27  00:33:15
154  NA1_4478634958 2022-10-30 07:26:33  00:22:04
155  NA1_4478600829 2022-10-30 06:46:56  00:20:18
156  NA1_4477623037 2022-10-29 09:32:46  00:15:36
157  NA1_4477539409 2022-10-29 08:45:15  00:25:09
158  NA1_4477571542 2022-10-29 07:45:38  00:27:32
159  NA1_4476767464 2022-10-28 09:12:49  00:26:40
160  NA1_4476774389 2022-10-28 08:36:27  00:26:36
161  NA1_4476738996 2022-10-28 07:47:18  00:25:00
162  NA1_4476383318 2022-10-28 01:17:40  00:19:08
163  NA1_4476015231 2022-10-27 07:58:45  00:26:36
164  NA1_4475961093 2022-10-27 07:19:05  00:23:53
165  NA1_4475604856 2022-10-27 00:56:23  00:24:30
166  NA1_4475589381 2022-10-27 00:07:57  00:26:36
167  NA1_4474923910 2022-10-26 08:23:41  00:18:11
168  NA1_4474848929 2022-10-26 07:37:18  00:30:53
169  NA1_4474466477 2022-10-26 00:27:08  00:26:24
170  NA1_4474513165 2022-10-26 00:03:59  00:15:17
171  NA1_4474409576 2022-10-25 23:16:49  00:18:04
172  NA1_4474138661 2022-10-25 09:17:27  00:32:47
173  NA1_4474116141 2022-10-25 08:43:42  00:19:48
174  NA1_4474104176 2022-10-25 08:15:24  00:16:10
175  NA1_4474047567 2022-10-25 07:17:15  00:25:16
176  NA1_4474042497 2022-10-25 06:42:25  00:23:23
177  NA1_4473985410 2022-10-25 05:54:04  00:15:29
179  NA1_4473920296 2022-10-25 04:24:28  00:21:10
180  NA1_4473863778 2022-10-25 03:45:53  00:26:51
181  NA1_4472494421 2022-10-23 08:16:18  00:22:48
183  NA1_4471766416 2022-10-22 22:32:28  00:26:37
184  NA1_4471422766 2022-10-22 08:58:12  00:35:37
185  NA1_4471408273 2022-10-22 08:26:03  00:20:26
186  NA1_4471364464 2022-10-22 07:48:29  00:26:47
187  NA1_4471370467 2022-10-22 07:25:26  00:15:12
188  NA1_4470587819 2022-10-21 08:05:14  00:25:32
189  NA1_4469893889 2022-10-20 08:52:26  00:29:20
190  NA1_4469839726 2022-10-20 08:09:36  00:29:18
191  NA1_4469492690 2022-10-20 00:16:37  00:21:34
192  NA1_4468631627 2022-10-19 04:27:55  00:24:02
193  NA1_4468605169 2022-10-19 03:51:36  00:28:03
194  NA1_4468075160 2022-10-18 08:30:29  00:26:13
195  NA1_4467857599 2022-10-18 05:04:18  00:19:47
196  NA1_4467566346 2022-10-17 22:56:10  00:19:54
197  NA1_4467449213 2022-10-17 19:34:27  00:30:42
198  NA1_4467268072 2022-10-17 09:36:00  00:31:02
199  NA1_4467275092 2022-10-17 08:59:33  00:27:43
200  NA1_4467251479 2022-10-17 08:18:20  00:15:29
201  NA1_4467236514 2022-10-17 07:41:23  00:25:16
202  NA1_4467223965 2022-10-17 07:15:16  00:17:27
203  NA1_4466920714 2022-10-17 01:40:18  00:26:43
204  NA1_4466845328 2022-10-17 00:58:18  00:17:01
205  NA1_4466434064 2022-10-16 10:06:00  00:24:31
206  NA1_4466450733 2022-10-16 09:32:48  00:20:22
207  NA1_4466344563 2022-10-16 08:30:26  00:24:41
208  NA1_4466308761 2022-10-16 07:47:04  00:32:29
209  NA1_4466292848 2022-10-16 07:08:31  00:26:13
210  NA1_4466246526 2022-10-16 06:31:05  00:22:08
211  NA1_4466206841 2022-10-16 05:40:11  00:31:42
212  NA1_4466139657 2022-10-16 04:59:49  00:32:05
213  NA1_4466122025 2022-10-16 04:14:11  00:15:48
214  NA1_4465527356 2022-10-15 22:28:03  00:29:55
215  NA1_4465224196 2022-10-15 09:51:18  00:19:03
216  NA1_4465213325 2022-10-15 08:11:40  00:35:24
217  NA1_4465129158 2022-10-15 07:38:20  00:21:42
218  NA1_4465095714 2022-10-15 06:17:42  00:32:13
219  NA1_4464987964 2022-10-15 05:30:30  00:22:24
220  NA1_4464958324 2022-10-15 04:38:47  00:33:14
221  NA1_4492804854 2022-11-15 04:19:33  00:28:06
222  NA1_4492748767 2022-11-15 03:28:33  00:43:29
223  NA1_4492258341 2022-11-14 10:29:54  00:32:06
224  NA1_4492158750 2022-11-14 07:13:35  00:19:36
225  NA1_4492068026 2022-11-14 05:40:43  00:28:41
226  NA1_4492036186 2022-11-14 05:11:26  00:15:58
227  NA1_4491960993 2022-11-14 04:05:10  00:36:33
228  NA1_4491892087 2022-11-14 03:07:26  00:24:51
229  NA1_4491839100 2022-11-14 02:18:06  00:20:51
230  NA1_4491786039 2022-11-14 01:23:17  00:32:47
231  NA1_4491706574 2022-11-14 00:03:25  00:23:40
232  NA1_4491044406 2022-11-13 05:11:45  00:31:04
233  NA1_4490374605 2022-11-12 11:43:17  00:23:47
234  NA1_4490362343 2022-11-12 10:52:51  00:30:13
235  NA1_4490349416 2022-11-12 10:20:46  00:22:31
236  NA1_4490325005 2022-11-12 09:25:26  00:33:23
237  NA1_4490292947 2022-11-12 08:33:40  00:18:35
238  NA1_4490254716 2022-11-12 08:01:16  00:20:45
239  NA1_4490212158 2022-11-12 07:06:01  00:37:01
240  NA1_4490159082 2022-11-12 06:17:43  00:29:47
241  NA1_4490108763 2022-11-12 05:28:36  00:32:14
242  NA1_4490049982 2022-11-12 04:40:56  00:21:37
243  NA1_4489920391 2022-11-12 02:46:45  00:20:19
244  NA1_4489893953 2022-11-12 02:13:49  00:22:09
245  NA1_4489833650 2022-11-12 01:18:34  00:21:08
246  NA1_4489815000 2022-11-12 00:42:56  00:28:45
247  NA1_4488336652 2022-11-10 05:25:03  00:30:05
248  NA1_4488296227 2022-11-10 04:47:28  00:21:28
249  NA1_4487622776 2022-11-09 07:58:50  00:20:30
250  NA1_4487586200 2022-11-09 07:19:19  00:29:00
251  NA1_4487560796 2022-11-09 06:41:53  00:20:58
252  NA1_4487469363 2022-11-09 05:22:11  00:19:33
253  NA1_4487432277 2022-11-09 04:50:15  00:20:05
254  NA1_4487319057 2022-11-09 03:10:32  00:15:26
255  NA1_4486475409 2022-11-08 03:50:21  00:24:49
256  NA1_4486440033 2022-11-08 03:15:57  00:26:23
257  NA1_4486393070 2022-11-08 02:41:41  00:17:00
258  NA1_4486346544 2022-11-08 02:05:46  00:20:39
259  NA1_4485537233 2022-11-07 04:32:15  00:31:04
260  NA1_4485423176 2022-11-07 03:05:40  00:22:37
261  NA1_4485351619 2022-11-07 02:10:09  00:34:54
262  NA1_4485302581 2022-11-07 01:26:38  00:30:12
263  NA1_4484074942 2022-11-05 21:51:24  00:28:14
264  NA1_4482348127 2022-11-04 03:16:35  00:28:33
265  NA1_4482311944 2022-11-04 02:45:00  00:22:16
266  NA1_4481330932 2022-11-03 00:54:03  00:29:27
267  NA1_4480792095 2022-11-02 04:45:28  00:33:47
268  NA1_4479979212 2022-11-01 04:35:22  00:19:51
269  NA1_4477346788 2022-10-29 04:57:43  00:35:18
270  NA1_4477312094 2022-10-29 03:26:41  00:27:10
271  NA1_4477274646 2022-10-29 02:35:27  00:25:41
272  NA1_4476619248 2022-10-28 05:23:19  00:20:45
273  NA1_4476527052 2022-10-28 04:08:40  00:36:05
274  NA1_4476520631 2022-10-28 03:28:52  00:31:31
275  NA1_4476495533 2022-10-28 02:57:35  00:25:12
276  NA1_4476489851 2022-10-28 02:15:53  00:26:20
277  NA1_4475900709 2022-10-27 06:04:41  00:22:35
278  NA1_4474733802 2022-10-26 04:49:19  00:20:40
279  NA1_4474028693 2022-10-25 06:22:30  00:15:26
280  NA1_4473215362 2022-10-24 05:55:49  00:43:21
281  NA1_4472472685 2022-10-23 06:56:36  00:34:39
282  NA1_4471321400 2022-10-22 06:27:07  00:21:39
283  NA1_4471180970 2022-10-22 04:21:39  00:28:06
284  NA1_4470629342 2022-10-21 08:32:00  00:33:02
285  NA1_4469623087 2022-10-20 03:58:46  00:20:15
286  NA1_4468783656 2022-10-19 06:50:48  00:26:58
287  NA1_4467270571 2022-10-17 08:11:21  00:20:40
288  NA1_4467236197 2022-10-17 07:38:35  00:24:00
289  NA1_4465184276 2022-10-15 08:15:13  00:22:42
290  NA1_4465148362 2022-10-15 07:35:03  00:26:29
291  NA1_4465013949 2022-10-15 05:09:26  00:03:13
292  NA1_4463467231 2022-10-13 05:42:58  00:22:31
293  NA1_4463397900 2022-10-13 04:48:24  00:38:53
294  NA1_4460602694 2022-10-10 06:42:50  00:30:26
295  NA1_4460524588 2022-10-10 05:51:17  00:26:19
296  NA1_4460467506 2022-10-10 05:12:45  00:33:02
297  NA1_4459594123 2022-10-09 06:10:51  00:23:29
298  NA1_4458316108 2022-10-08 05:41:18  00:20:45
299  NA1_4444798910 2022-09-24 03:40:48  00:21:43
300  NA1_4444754693 2022-09-24 03:11:06  00:20:10
301  NA1_4444708555 2022-09-24 02:29:52  00:21:45
302  NA1_4444703101 2022-09-24 01:48:40  00:20:48
303  NA1_4444644585 2022-09-24 00:31:24  00:19:44
304  NA1_4444269735 2022-09-23 08:31:10  00:27:40
305  NA1_4444255400 2022-09-23 07:56:57  00:21:24
306  NA1_4444187936 2022-09-23 06:58:27  00:36:13
307  NA1_4444088136 2022-09-23 05:52:24  00:32:09
308  NA1_4444100504 2022-09-23 05:06:32  00:21:07
309  NA1_4444041540 2022-09-23 04:15:44  00:22:05
310  NA1_4443960400 2022-09-23 03:07:09  00:28:13
311  NA1_4443946108 2022-09-23 02:40:15  00:15:16
312  NA1_4443950733 2022-09-23 02:02:34  00:22:22
313  NA1_4443529249 2022-09-22 11:40:11  00:23:19
314  NA1_4443514245 2022-09-22 10:05:44  00:24:38
315  NA1_4443501892 2022-09-22 09:29:50  00:23:17
316  NA1_4443456266 2022-09-22 08:26:34  00:22:52
317  NA1_4443379020 2022-09-22 07:21:49  00:25:32
318  NA1_4443372734 2022-09-22 06:37:05  00:23:24
319  NA1_4443335594 2022-09-22 05:50:40  00:32:10
320  NA1_4443264102 2022-09-22 04:42:49  00:26:07

In [62]:
str_conn='mysql+pymysql://root:1234@localhost:3306/mad_scientist' #Conectar al servidor
cursor=create_engine(str_conn) #Cursor que apunta al servidor

In [ ]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

In [75]:
try:
    query="""CREATE TABLE `matches` (
      `matchId` varchar(16) NOT NULL UNIQUE,
      `gamestart` datetime DEFAULT NULL,
      `duration` time DEFAULT NULL,
      PRIMARY KEY (`matchId`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;"""
    cursor.execute(query)
    dfmatch.to_sql(name='matches', con=cursor, if_exists='append', index=False)
except:
    dfmatch.to_sql(name='matches', con=cursor, if_exists='append', index=False)

In [76]:
try:
    query="""CREATE TABLE `summoner` (
    `puuid` varchar(80) NOT NULL UNIQUE,
    `name` varchar(20) DEFAULT NULL,
    `id` varchar(60) DEFAULT NULL UNIQUE,
    `accountid` varchar(60) DEFAULT NULL UNIQUE,
    PRIMARY KEY (`puuid`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;"""
    cursor.execute(query)
    dfsummoner.to_sql(name='summoner', con=cursor, if_exists='append', index=False)
except:
    dfsummoner.to_sql(name='summoner', con=cursor, if_exists='append', index=False)

In [68]:
import pandas as pd
import numpy as np
measurer = np.vectorize(len)
res1 = measurer(dfmatch.values.astype(str)).max(axis=0)
res1

array([14, 19,  8])

In [69]:
dffinal.to_sql(name='info', con=cursor, if_exists='append', index=False)